@import "tailwindcss";

@theme {
  --color-background: #E7D4B1;
  --color-forebackground: #7B4942;
  --color-foreground: #F8E9D3;
  --color-menu: #619AC1;
  --color-menudarker: #4F8FBA;
  --color-main: #BE4B53;
  --color-maindarker: #A3383F;

  --font-branding: "Calistoga", serif;
  --font-headings: "Chilanka", cursive;
  --font-body: "Patrick Hand", cursive;
}

.text-branding {
  font-family: var(--font-branding);
  font-size: 48px;
  line-height: 1.1
}

.text-heading {
  font-family: var(--font-headings);
  font-size: 32px;
  line-height: 1.1;
}

.text-body-main {
  font-family: var(--font-body);
  font-size: 26px;
  line-height: 1.5;
}

.text-body-secondary {
  font-family: var(--font-body);
  font-size: 22px;
  line-height: 1.5;
}

@media(min-width: 768px) {
  .text-branding {font-size: 64px;}
  .text-heading {font-size: 42px;}
  .text-body-main {font-size: 30px;}
  .text-body-secondary {font-size: 26px;}
}

body {
  @apply bg-background text-forebackground font-body min-h-screen overflow-x-hidden antialiased;
  font-family: var(--font-body);
}